<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
    <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </div>
        <div class="form-control">
            <label for="imageUrl">image Url</label>
            <input type="text" name="imageUrl" id="imageUrl">
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" step="0.01">
        </div>
        <div class="form-control">
            <label for="description">description</label>
            <textarea  name="description" id="description" rows="5"> </textarea>
        </div>
        <button class="btn" type="submit">Add Product</button>
    </form>
</main>
<%- include('../includes/end.ejs') %>